.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh; 
  }

  .divs2 {
 margin-top: 20px;
 display: flex;
 justify-content: center;
  }
  